/*Media queries*/
@media only screen and (min-width: 1070px) {
  .nav_box{
    grid-template-columns: auto 1fr auto;
  }

  .main_box {
    grid-template-columns: repeat(2, auto);
  }
  .first_card {
    margin-right: 50px;
  }

  .menu {
    justify-content: flex-start;
    max-width: 630px;
  }
  .menu_box a:hover {
    color: #12330a;
  }
  .menu_box {
    grid-template-columns: repeat(5, auto);
  }
  .expand_menu {
    visibility: hidden;
    position: absolute;
  }

  .footer_grid {
    grid-template-columns: repeat(6, auto);
  }
}

@media only screen and (max-width: 1070px) {
  
  @media only screen and (min-width: 630px) {
    .footer_grid {
      grid-template-columns: repeat(3, auto);
    }
  }

  @media only screen and (max-width: 690px) {
    .nav_box{
      grid-template-columns: auto auto;
    }
    .btn_hide {
      visibility: hidden;
      display: inline-flex;
      justify-content: space-evenly;
      top: 130.35px;
      left: 0;
      padding-bottom: 15px;
      grid-template-columns: repeat(5, auto);
      position: absolute;
      background-color: #3d3d3d;
      width: 100%;
    }
    .menu {
      justify-content: flex-end;
    }
  }

  @media only screen and (min-width: 690px) {
    .nav_box{
      grid-template-columns: auto 1fr auto;
    }
  }

  .menu {
    visibility: hidden;
    position: absolute;
    top: 82.35px;
    left: 0;
    background-color: #3d3d3d;
    padding: 15px 0;
    width: 100%;
  }
  .menu_box {
    grid-template-columns: repeat(5, auto);
  }
  .menu_box a:hover {
    color: #57aedd;
  }
  .expand_menu {
    margin-left: 30px;
    visibility: visible;
    position: static;
  }
}

@media only screen and (max-width: 630px) {
  @media only screen and (min-width: 520px) {
    .footer_grid {
      grid-template-columns: repeat(2, auto);
    }
  }
}

@media only screen and (min-width: 600px) {
  .bottom_box {
    grid-template-columns: repeat(2, auto);
  }
}

.expand_menu:focus ~ .menu {
  visibility: visible;
}

.menu:hover {
  visibility: visible;
}

.expand_menu:focus ~ .btn_hide {
  visibility: visible;
}

.btn_hide:hover {
  visibility: visible;
}

/*Attributes for all the body*/
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Monserrat', sans-serif;
  max-width: 100vw;
}

a {
  text-decoration: none;
  color: #f38e59;
}

.button {
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
  border: solid 3px #fff;
  border-radius: 0.5em;
  padding: 0.9em 2em;
  width: fit-content;
}

.button:hover {
  background-color: #57aedd;
  border-color: transparent;
}

.button:focus {
  background-color: #57aedd;
  border-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*Nav*/

nav {
  padding: 5px 30px 0 30px;
  color: #fff;
  background-color: #f38e59;
  position: sticky;
  top: 0;
}

.nav_box {
  align-items: center;
  max-width: 1920px;
  display: grid;
  justify-content: space-between;
  margin: 0 auto;
}

nav a {
  color: #fff;
}

.logo {
  padding-bottom: 3vh;
}

.menu {
  display: inline-flex;
}

.menu a {
  text-align: center;
}

.menu_box {
  width: 100%;
  display: grid;
}

.btn_log {
  background-color: transparent;
}

.btn_trial {
  background-color: #062334;
  border-color: transparent;
  margin-right: 10px;
}

/*Header*/

header {
  display: grid;
  padding: 5vh 0;
  justify-items: center;
  text-align: center;
  background-color: #f38e59;
  padding: 7.7em 30px 5em 30px;
}

header h1 {
  margin: 0;
  color: #fff;
  padding: 0.2em 0;
  font-size: 4em;
  font-weight: bold;
}

header h4 {
  margin: 0;
  color: #474747;
  font-weight: normal;
}

/*Main*/

main {
  margin: 3.5em 0;
  padding: 0 30px;
}

.main_box {
  display: grid;
  justify-content: center;
  max-width: 1920px;
  margin: 0 auto;
}

.card {
  display: inline-flex;
  flex-direction: column;
}

.card a:hover {
  color: #57aedd;
}

.card h2 {
  color: #57aedd;
  margin: 1em 0;
}

.card h3 {
  color: #373737;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 2.5em;
}

.card p {
  color: #474747;
  line-height: 150%;
  margin: 0;
}

.contact_list {
  display: grid;
}

.contact_row {
  display: inline-flex;
  margin-bottom: 20px;
  align-items: center;
}

.contact_row p {
  padding-left: 15px;
}

form {
  display: inline-flex;
  flex-direction: column;
  margin-top: 3em;
}

::placeholder {
  color: #c2c2c8;
  font-style: italic;
}

input {
  margin-bottom: 2em;
  padding: 0.8em 0.8em;
  border-radius: 0.4em;
  border: solid 1px #c2c2c8;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #000;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: #000;
}

textarea {
  resize: none;
  margin-bottom: 2.5em;
  padding: 0.8em 0.8em;
  border-radius: 0.4em;
  border: solid 1px #c2c2c8;
}

.btn_form {
  display: inline-flex;
  justify-content: end;
}

.btn_form input {
  cursor: pointer;
  border: transparent;
  background-color: #f38e59;
  height: 60px;
  padding: 0 50px;
}

/*Footer*/

footer {
  background-color: #404040;
}

.footer_grid {
  display: grid;
  max-width: 1920px;
  padding: 40px 30px;
  margin: 0 auto;
}

.footer_grid a {
  color: inherit;
}

footer h5 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  color: #fff;
}

footer ul {
  margin-right: 10px;
}

.footer_try-section {
  margin-right: 0;
}

footer li {
  font-weight: 100;
  color: #ffffff88;
  line-height: 25px;
}

footer li a:hover {
  color: #57aedd;
}

footer li h5 a:hover {
  color: #57aedd;
}

footer p {
  margin: 0;
  font-weight: normal;
  line-height: 25px;
  color: #ffffff88;
}

.social_link {
  margin-top: 8px;
}

.list_link a {
  box-sizing: content-box;
}

.list_link i {
  color: #f38e59;
  margin: 0 auto;
  transform: scale(1.3);
  margin-right: 6px;
}

.list_link i:hover {
  color: #57aedd;
}

.btn_create {
  border: transparent;
  background-color: #02202f;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
  display: grid;
  width: fit-content;
}

.btn_create span {
  color: #fff;
  text-align: center;
  line-height: 15px;
  font-size: 0.8em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.bottom {
  background-color: #333333;
  position: relative;
  bottom: 0;
}

.bottom a:hover {
  color: #57aedd;
}

.bottom_box {
  padding: 0 30px;
  justify-content: flex-start;
  max-width: 1920px;
  display: grid;
  align-items: center;
  height: fit-content;
  min-height: 40px;
  max-height: 50px;
}